@use '../Global/' as *;

.p-about {
  .l-sectionTitleSub {
    color: var(--mosgreen);
  }
  .l-sectionTitleText {
    color: var(--white);
  }
}

.p-aboutWrapper {
  width: 84%;
  @include MQ('md') {
    width: 90%;
  }
}

.p-aboutContent {
  margin-top: 60px;
  display: grid;
  gap: 40px;
  @include MQ('md') {
    gap: 70px;
  }
}

.p-aboutContentItem {
  display: grid;
  gap: 40px;
  background-color: var(--white);
  border-top-right-radius: 30px;
  padding: 40px 30px;
  padding-bottom: 30px;
  @include MQ('md') {
    grid-template-columns: 1fr 300px;
    gap: 60px;
  }
  @include MQ('lg') {
    grid-template-columns: 1fr 440px;
    padding: 90px;
  }
}

.p-aboutContentItem--r {
  @include MQ('md') {
    grid-template-columns: 300px 1fr;
    .p-aboutContentHead {
      order: 1;
    }
    .p-aboutContentItemImage {
      order: 0;
    }
  }
  @include MQ('lg') {
    grid-template-columns: 440px 1fr;
  }
}

.p-aboutContentItemTitle {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include MQ('md') {
    gap: 8px;
  }
  h3 {
    font-family: 'yu-mincho-pr6n';
    font-size: clamp(rem(18), 4vw, rem(24));
    font-weight: 600;
    line-height: 2;
    letter-spacing: 0.05em;
    color: var(--green);
  }
}

.p-aboutContentItemOrder {
  font-family: Benne;
  font-size: clamp(rem(60), 7vw, rem(80));
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: var(--leadingTrim) 0;
  color: var(--green);
}

.p-aboutContentItemText {
  margin-top: 40px;

  p {
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-size: clamp(rem(13), 1vw, rem(15));
    font-weight: 500;
    line-height: 2;
    text-align: justify;
    color: var(--black);
  }
}

.p-aboutContentItemAnnotation {
  margin-top: 40px;
  p {
    font-family: 'yu-gothic-pr6n', sans-serif;
    font-weight: 500;
    text-align: justify;
    color: var(--black);
    font-size: clamp(rem(11), 1vw, rem(12));
    line-height: 18px;
    word-break: break-all;
    @include MQ('md') {
      line-height: 20px;
    }
  }
}

.p-aboutContentItemImage {
  img {
    max-width: 100%;
    height: auto;
  }
}
