:root {
  --white: #fff;
  --black: #323232;
  --white2: #e7efe2;
  --green: #669e5e;
  --mosgreen: #77876e;
  --mosgreen2: #4e5f53;
  --gradient: linear-gradient(90deg, #34aa4e 0%, #74e669 100%);
  --gray: #d0d0d0;
}
